<html>
 <body>
  <h1>Search for contacts in HubSpot</h1>
	 <div class="contactsearch">
	  <form action="/admin" method="post">
		 <input type="text" name="searchinput">
		 <input type="submit" name="search" value="Search for contact">
		</form>
	 </div>
 </body>
</html>